/*Default color theme: bright*/
:root {
    --primary-color: #2FEED4;
    --secondary-color: #e0ffff;
    --background-color: #47AFE6;
    --sec-background-color: #9DDBFA;
    --text-color: #000000;
    --close-color: #FF0000;
}

/*Color theme: dark*/
.dark-theme {
    --primary-color: #000000;
    --secondary-color: #1A1A1A;
    --background-color: #542009; 
    --sec-background-color: #A6441B;
    --text-color: #FFFFFF;
    --close-color: #FF0000;
}

/*Color theme: hurt my eye*/
.hurt-theme {
    --primary-color: blue;
    --secondary-color: red;
    --background-color: blue;
    --sec-background-color: rgb(0, 204, 255);
    --text-color: red;
}

/*Adjust overall element*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
        
/*Adjust related element/class/id on itself*/
header {
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/*Wrap drop-down menu together in one place*/
.header-left {
    display: flex;
    gap: 20px;
}

/*Adjust logo*/
#logo {
    width: 40px;
    height: 40px;
}

h1 {
    color: var(--text-color);
    letter-spacing: 5px;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

/*Drop-down menu*/
.dropdown-container {
    position: relative;
    display: inline-block;
}
        
.dropdown {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    font-size: 1rem;    
    font-weight: 550;
    transition: all 0.5s ease;
    display: flex;
    cursor: pointer;
    align-items: center;    
}
        
.dropdown:hover {
    background-color: var(--sec-background-color);
    color: var(--text-color);
}
        
.content {
    background-color: var(--sec-background-color);
    color: var(--text-color);
    display: none;
    overflow: hidden;
    position: absolute;
    width: 150px;
    border-radius: 10px;
    margin-top: 5px;
}  
        
.content button {
    color: var(--text-color);
    background: none;
    border: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 1rem;
}
        
.content button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: larger;
    font-weight: 800;
}
        
.show {
    display: block;
    animation: fadeIn 0.3s ease;
}
        
/*Sidebar button*/
.sidebar {
    background-color: var(--sec-background-color);
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: -4500px;
    width: 450px;
    height: 100vh;
    transition: left 0.8s ease;
    z-index: 1000;
    padding: 2rem;
    overflow-y: auto;
}

.sidebar.active {
    left: 0;
}

.sidebar-header {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
}
        
.close-btn {
    color: var(--text-color);
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.1s;
}
        
.close-btn:hover {  
    color: var(--close-color);
}
